In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# import seaborn as sns

In [11]:
#Carga de archivos - localidades y barrios
local_barrios_df = pd.read_excel('../data/processed/localidades_y_barrios.xlsx')
local_barrios_df.head()

   Código Barrio             Barrio       Localidad  Código Localidad
0           1203            CARACAS  ANTONIO NARINO                15
1           1202       CIUDAD BERNA  ANTONIO NARINO                15
2           1204  CIUDAD JARDIN SUR  ANTONIO NARINO                15
3           2301       EDUARDO FREI  ANTONIO NARINO                15
4           2107          LA FRAGUA  ANTONIO NARINO                15

In [43]:
#Carga de archivos - localidades upz
xl = pd.ExcelFile('../data/processed/localidades_y_barrios_con_upz_v2.xlsx')
file_sheets = len(xl.sheet_names)
file_sheets
localidad_upz_array= []
for i in np.arange(file_sheets):
    temp_df = pd.read_excel(xl,i)
    temp_df['localidad_num'] = i+1
    temp_df['nombre_localidad'] = xl.sheet_names[i]
    localidad_upz_array.append(temp_df)
    
final = pd.concat(localidad_upz_array)
final.head()

,UPZ,BARRIO,NUM,localidad_num,nombre_localidad
0,1 PASEO DE LOS LIBERTADORES,CANAIMA,1.0,1,LOCALIDAD Nº 01 DE USAQUEN
1,1 PASEO DE LOS LIBERTADORES,LA FLORESTA DE LA SABANA,1.0,1,LOCALIDAD Nº 01 DE USAQUEN
2,1 PASEO DE LOS LIBERTADORES,TORCA,1.0,1,LOCALIDAD Nº 01 DE USAQUEN
3,9 VERBENAL,ALTO DE SERREZUELA,1.0,1,LOCALIDAD Nº 01 DE USAQUEN
4,9 VERBENAL,BALCONES DE VISTA HERMOSA,1.0,1,LOCALIDAD Nº 01 DE USAQUEN

In [41]:
hurtos_df = pd.read_excel('../data/processed/hurtos_bogota_2010-2019.xlsx')
hurtos_df

,Año,Mes,Día,Hora,Barrio,Zona,Clase de sitio,Arma empleada,Móvil Agresor,Móvil Victima,Edad,Sexo
0,2010,Jan,Viernes,00:00:00,POLO CLUB,URBANA,VIAS PUBLICAS,CONTUNDENTES,A PIE,CONDUCTOR VEHICULO,62,MASCULINO
1,2010,Jan,Viernes,14:00:00,URB. LA COLINA CAMPESTRE I SECTOR,URBANA,BANCOS,SIN EMPLEO DE ARMAS,-,-,61,FEMENINO
2,2010,Jan,Viernes,09:00:00,LAS CRUCES,URBANA,VIAS PUBLICAS,ARMA BLANCA / CORTOPUNZANTE,A PIE,A PIE,27,MASCULINO
3,2010,Jan,Viernes,19:00:00,JOSE ANTONIO GALAN,URBANA,SOBRE ANDEN - VIA PUBLICA,CONTUNDENTES,A PIE,A PIE,34,FEMENINO
4,2010,Jan,Viernes,20:00:00,URB. RINCONCITO,URBANA,VIAS PUBLICAS,ARMA BLANCA / CORTOPUNZANTE,A PIE,A PIE,22,FEMENINO
...,...,...,...,...,...,...,...,...,...,...,...,...
483727,2019,Dec,Martes,14:12:00,MARANTA,URBANA,VIAS PUBLICAS,ARMA BLANCA / CORTOPUNZANTE,A PIE,CONDUCTOR TAXI,57,FEMENINO
483728,2019,Dec,Martes,04:08:00,EL CORTIJO,URBANA,FRENTE CONJUNTO - VIA PUBLICA,SIN EMPLEO DE ARMAS,CONDUCTOR VEHICULO,CONDUCTOR VEHICULO,34,MASCULINO
483729,2019,Dec,Martes,04:58:00,CENTRO INTERNACIONAL,URBANA,ESTABLECIMIENTO PUBLICO,ESCOPOLAMINA,CONDUCTOR TAXI,PASAJERO TAXI,29,MASCULINO
483730,2019,Dec,Martes,09:23:00,EL CAMPIN,URBANA,CALLEJÓN,ARMA BLANCA / CORTOPUNZANTE,CONDUCTOR MOTOCICLETA,CONDUCTOR VEHICULO,39,MASCULINO
483731,2019,Dec,Martes,12:52:00,ESCOCIA,URBANA,VIAS PUBLICAS,SIN EMPLEO DE ARMAS,CONDUCTOR MOTOCICLETA,A PIE,25,FEMENINO

In [45]:
hurtos_df.head(1)

,Año,Mes,Día,Hora,Barrio,Zona,Clase de sitio,Arma empleada,Móvil Agresor,Móvil Victima,Edad,Sexo
0,2010,Jan,Viernes,00:00:00,POLO CLUB,URBANA,VIAS PUBLICAS,CONTUNDENTES,A PIE,CONDUCTOR VEHICULO,62,MASCULINO

In [46]:
resultado = pd.merge(hurtos_df, final, left_on = 'Barrio', right_on = 'BARRIO')

In [54]:
len(resultado)

101

In [52]:
resultado.to_excel('../data/processed/dataset_final.xlsx')